/* Reset de estilos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general */
body {
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
}

/* Fondo de video */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilo de la caja de formulario */
.container {
    background-color: rgba(255, 255, 255, 0.644);
    padding: 40px;
    border-radius: 10px;
    margin: 50px auto;
    width: 80%;
    max-width: 600px;
}

/* Títulos */
.title {
    text-align: center;
    font-size: 24px;
    color: #1e14a1;
    font-weight: bold;
}

/* Estilo para los formularios */
.form-group {
    margin-bottom: 20px;
}

.label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: bold;
}

.input-field {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

.button:hover {
    background-color: #0056b3;
}

.error, .success {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.error {
    color: red;
}

.success {
    color: green;
}

/* Estilo del enlace de volver */
.link {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

.link:hover {
    text-decoration: underline;
}

