<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" th:href="@{/css/style-login.css}">
</head>
<body>
<div class="container">
    <div class="content">
        <h1 class="title">Iniciar Sesión</h1>
        <p th:if="${error}" class="error-message" th:text="${error}"></p>
        <form method="post" th:action="@{/login}">
            <div class="form-group">
                <label for="correo" class="label">Correo electrónico:</label>
                <input type="email" id="correo" name="correo" class="input-field" required>
            </div>
            <div class="form-group">
                <label for="contrasena" class="label">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" class="input-field" required>
            </div>
            <button type="submit" class="button">Iniciar Sesión</button>
        </form>
        <p><a th:href="@{/registro}" class="link">Registrarse</a></p>
    </div>
</div>
</body>
</html>

