<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Administrador</title>
    <link rel="stylesheet" th:href="@{/css/style-registrar-admin.css}">
</head>
<body>
<div class="video-background">
    <video autoplay muted loop>
        <source th:src="@{/video/video 3.mp4}" type="video/mp4">
        Tu navegador no soporta el video.
    </video>
</div>
<div class="container">
    <h2 class="title">Registrar Nuevo Administrador</h2>
    <p th:if="${mensaje}" th:text="${mensaje}" class="success"></p>
    <form method="post" th:action="@{/admin/registro}">
        <div class="form-group">
            <label for="nombre" class="label">Nombre:</label>
            <input type="text" id="nombre" name="nombre" class="input-field" required>
        </div>
        <div class="form-group">
            <label for="correo" class="label">Correo electrónico:</label>
            <input type="email" id="correo" name="correo" class="input-field" required>
        </div>
        <div class="form-group">
            <label for="contrasena" class="label">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" class="input-field" required>
        </div>
        <button type="submit" class="button">Registrar Administrador</button>
    </form>
    <p><a th:href="@{/admin/panel}" class="link">Volver al Panel de Administrador</a></p>
</div>
</body>
</html>

